//main-component search
.search{

    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $bp-smallest){
      order: 1;
      flex: 0 0 100%;
    }

    //input tags don't inhert base fonts,colors,etc
    &__input{
        font-family: inherit;
        font-size: inherit;
        color:inherit;
        background-color: $color-grey-light-2;
        border:none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        margin-right: -3.25rem;
        transition: all .2s;

        @media only screen and (max-width: $bp-small){
            width: 80%;
        }
        
        &:focus{
            width: 100%;
            outline: none;
            background-color: $color-grey-light-3;

            @media only screen and (max-width: $bp-small){
                width: 90%;
            }
        }
        &::-webkit-input-placeholder{
            font-weight: 100;
            color: $color-grey-light-4;
        }
    }

    &__input:focus + &__button{
        background-color: $color-grey-light-3;
    }
    &__button{
        border: none;
        background-color: $color-grey-light-2;

        &:focus{
            outline: none;
        
        }
        &:active{
            transform: translateY(2px);
        }
 

    }
    //since it is an svg, we style it by width and height
    &__icon{
        height: 2rem;
        width: 2rem;
        fill: $color-grey-dark-3;
    }
}