.sidebar{
    background-color: $color-grey-dark-1;
    //grow false, shrink false, width 18%
    flex: 0 0 18%; 

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

